<div class="darkbg">

    <div alignment="true" class="headerIntroNoImage">
        <div alignment="true" class="headerSectionNoImage">
            <h1 alignment="true" class="overlayText">There have been <span class="shootingnum">0</span> shootings so far this year</h1>
            <div alignment="true" class="headDisplay">
                <div alignment="true" class="dateline">Published Xxxx, Xxx XX, 2017</div>

                {% include "./partials/socialshare.html" %}

                <!-- <div alignment="true" class="byline">
                    Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>
                    <div alignment="true" class="custom-social-share" alignment="true">&nbsp;</div>
                </div> -->

                <p>According to the Philadelphia Police Department, there have been <span class="shootingnum">0</span> shootings since <span class="dateupdated"></span> of this year. Watch the animation below of the number of shots per day and use the slider to see shootings on a specific day.</p>

            </div>
        </div>
    </div>


<div class="container" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-12 col col-md-offset-0" alignment="true">


    <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">
            <div class="labelWrapper">
                <div class="datecontainer"></div>
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
                      <div class="sliderdate"></div>
                </div>

                Total shootings:
                <div class="numCounter">0</div>
                <span>Fatal shootings:</span>
                <div class="numCounterDeath">0</div>


            </div>

            <div id="map"></div>
        </div>
    </div>

</div>
</div>
<div class="row" alignment="true">
    <div class="col-md-10 col col-md-offset-1" alignment="true">

 <div id="calendar-container">
    <div id="calendar"></div>
  </div>

</div>
</div>


    <div class="lastupdated"></div>

    <div class="source">Source: <a href="https://www.opendataphilly.org/dataset/shooting-victims">Philadelphia Police Department</a></div>
    <div class="source">Credit: GARLAND POTTS and JARED WHALEN / Staff</div>

</div>
</div>
</div>
</div>
