<div class="graphicWrapper">


    <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">
            <div class="labelWrapper">
                <div class="datecontainer"></div>
                <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
                      <div class="sliderdate"></div>
                </div>

                Total shootings:
                <div class="numCounter">0</div>
                <span>Fatal shootings:</span>
                <div class="numCounterDeath">0</div>


            </div>

            <div id="map"></div>
        </div>
    </div>
    <div class="lastupdated"></div>

    <div class="source">Source: <a href="https://www.opendataphilly.org/dataset/shooting-victims">Philadelphia Police Department</a></div>
    <div class="source credit">Credit: GARLAND POTTS / Staff</div>

</div>
