<div class="graphicWrapper">
    <div class="aspect-ratio-outer">
        <div class="aspect-ratio-inner">
            <div class="labelWrapper">
                <div class="datecontainer">Date</div>
                <div class="numCounter">counter</div>
            </div>

            <div id="map"></div>
        </div>
        <!-- <div class="legend">
            <h1>Map legend</h1>
            <div class="gradient">
                <div class="gradientbar"></div>
                <div class="gradientlabels">
                    <span>2008</span>
                    <span>2018</span>
                </div>
            </div>

        </div> -->
    </div>


    <div class="source">Source: xxxXXX</div>
    <div class="source credit">Credit: xxxXXX</div>

</div>
